<%=@calendar.name %>
<table class='my_calendar'>
<% (Date.today.to_date..11.month.since(Date.today)).map{ |date| date.strftime("%Y, %m") }.uniq.each_with_index do |value, index| %>
  <% if (["0"]).include?(index.to_s) %>
    <tr><td><%= calendar_for(value.split.first.to_i, value.split.last.to_i) %></td>
  <% elsif (["4", "8"]).include?(index.to_s) %>
    </tr><tr><td><%= calendar_for(value.split.first.to_i, value.split.last.to_i) %></td>
  <% elsif index == 11 %>
     <td><%= calendar_for(value.split.first.to_i, value.split.last.to_i) %></td></tr>
  <% else %>
    <td><%= calendar_for(value.split.first.to_i, value.split.last.to_i) %></td>
  <% end %>
<% end %>
</table>
